*{margin: 0; padding: 0; transition: all .8s;}
#peiqi-wrapper{
  background: #7ec9f8;
  height: 100%;
  position: relative;
}
html,body{
  height: 100%;
}
main{
  display: flex;
  height: 100%;
}
#code{
  padding: 20px;
}
#code-wrapper{
  flex: 1;
  overflow: scroll;
}
#preview{
  flex: 1;
  overflow: hidden;
  position: relative;
}
.opts{
  position: absolute;
  height: 200px;
  top: 10px;
  right: 10px;
  z-index: 19;
}
.btn-wrap{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.btn-wrap .btn{
  padding: 4px 16px;
  border-radius: 8px;
  background: #00a0e9;
  color: #fff;
  margin-bottom: 8px;
  font-size: 10px;
  letter-spacing: 0.4em;
  cursor: pointer;
}
.btn.active{
  background: #1b6d85;
}
[data-speed="topSpeed"].active{
  background: red;
}


/*佩奇的身体*/
.abs{
  position: absolute;
}
#peiqi{
  width: 300px;
  height: 400px;
  position: relative;
  transform: scale(1.5);
  display: inline-block;
  margin-top: 200px;
  left: 350px;
}
.head{
  width: 95px;
  height: 100px;
}
.head::before{
  width: 130px;
  height: 50px;
}
.head::after{
  width: 86px;
  height: 54px;
}
.head::before,.head::after{
  content: '';
  position: absolute;
}
.head .nose{
  width: 26px;
  height: 45px;
}
.nose::after,.nose::before{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}
.ear{
  width: 18px;
  height: 40px;
  z-index: -1;
}
.hand::after,.hand::before{
  content: '';
  position: absolute;
}
.eye{
  width: 14px;
  height: 14px;
  z-index: 9;
}
.eye::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
}
.tail::after,.tail::before{
  content: '';
  position: absolute;
}
.mouse{
  width: 40px;
  height: 30px;
  z-index: 10;
}
.mouse::after{
  content: '';
  width: 48px;
  height: 28px;
}
.face{
  width: 25px;
  height: 30px;
  z-index: 10;
}
#peiqi .body{
  width: 120px;
  height: 100px;
}

.leg::after{
  content: '';
  position: absolute;
  z-index: 1;
}
.hand{
  width: 6px;
  height: 45px;
}
.hand-left::before{
  width: 15px;
  height: 5px;
}
.hand-left::after{
  width: 15px;
  height: 5px;
}
.hand-right::before{
  width: 15px;
  height: 5px;
}
.hand-right::after{
  width: 15px;
  height: 5px;
}
.tail{
  width: 8px;
  height: 4px;
}
.tail::after,.tail::before{
  width: 12px; height: 3px;
}
.tail::after{
  left: -8px; top: 5px;
}
.leg{
  width: 6px;
  height: 30px;
}
.leg::after{
  width: 26px;
  height: 8px;
}




/* 把脚放好 */
.leg-left{
  left: 125px;
}
.leg-right{
  right: 125px;
}
@media screen and (max-width: 768px) {
  #peiqi {
    transform: scale(1);
    top: 10%;
    left: 50px;
    margin-top: 0;
  }
  main{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 320px){
  #peiqi{
    left: 20px;
    transform: scale(0.8);
    top: -15%;
  }
}
