*{margin: 0; padding: 0; transition: all .8s;}
#peiqi-wrapper{
  background: #7ec9f8;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

#code-wrapper{
  position: fixed;
  height: 100%;
  left: 0;
  width: 50%;
  border: 1px solid red;
  overflow: auto;
}

























